<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
          <link rel="stylesheet"
          href="style.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>
<header class="header" th:fragment="header">
        <div class="logo-container">
          <div class="logo">
            <img class="logo-icon" src="img/group.png" alt="Logo de TuPortal" />
          </div>
          <h1 class="site-title">
            <span class="brand-name">TuPortal</span>
            <span class="specialty">Obstetricia y Genicología</span>
          </h1>
        </div>
        <nav class="main-nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#pacientes" class="nav-link">
                <img class="nav-icon" src="img/mdi_account-pending.png" alt="" />
                <span>Pacientes</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#ciclo-menstrual" class="nav-link">
                <img class="nav-icon" src="img/mdi-calendar-account.svg" alt="" />
                <span>Ciclo Menstrual</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#embarazo" class="nav-link">
                <img class="nav-icon" src="img/mdi-human-pregnant.svg" alt="" />
                <span>Embarazo</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#actividad-sexual" class="nav-link">
                <img class="nav-icon" src="img/healthicons-male-condom.svg" alt="" />
                <span>Actividad Sexual</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#historial-datos" class="nav-link">
                <img class="nav-icon" src="img/material-symbols-history.svg" alt="" />
                <span>Historial de datos</span>
              </a>
            </li>
          </ul>
        </nav>
        <button class="logout-button">
          <span>Cerrar sesión</span>
          <img class="logout-icon" src="img/mdi-door-open.svg" alt="Icono de salida" />
        </button>
      </header>
  </body>
</html>
