<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actividad Sexual del Paciente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:insert="fragments/header :: header">...</div>    
<div class="container mt-5">
    <h2 class="text-center" style="margin-bottom: 20px;">Actividad Sexual de <span th:text="${paciente.nombreCompleto}">Paciente</span></h2>
    
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Uso de Protección</th>
            <th>Observaciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actividad : ${actividades}">
            <td th:text="${actividad.fecha}">Fecha</td>
            <td th:text="${actividad.usoProteccion ? 'Sí' : 'No'}">Protección</td>
            <td th:text="${actividad.observaciones}">Observaciones</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
